* {
  font-family: Arial;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 4px;
}

body {
  max-width: 720px;
  width: 80%;
  margin: auto;
  padding-top: 2em;
  padding-bottom: 4em;
  background-color: #e0dbe8;
}

h2 {
  padding: .5em;
  margin-bottom: 0;
  margin-top: 2em;
  background-color: white;
  font-weight: bold;
  border-bottom: 2px #5e35ad solid;
}

form > label {
  padding: .5em;
  margin-top: 2.5em;
  width: 100%;
  display: block;
  font-size: medium;
  font-weight: 500;
  background-color: white;
  border-bottom: 1px #5e35ad solid;
}

label[for='id_concern'] {
  font-size: large;
}

/* Hide labels for concern rank questions after the first. */
label[for^=id_concern_rank] ~ label[for^=id_concern_rank] {
  display: none;
}

p.question {
  font-weight: bold;
}

p, p.question {
  padding: .5em;
  margin-top: 0em;
  background-color: white;
  font-size: normal;
}

span.li {
  display: list-item;
  margin-left: 1em;
}

br {
  line-height: 70%;
}

input, textarea, select {
  margin-top: 0em;
  font-size: small;
  background-color: white;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

select {
  font-size: medium;
}

input[type=text], input[type=password], textarea, select {
  padding: .5em;
  width: 100%;
}

input[type=submit] {
  margin-top: 2em;
  width: 49.5%;
}

input[name=previous] {
  float: left;
}

input[name=next] {
  float: right;
}

input[name=logout], input[value=login] {
  width: 100%;
}

/* Show "N/A" buttons right next to their input */
label[for^=id_na_likert_] {
  margin-top: 0;
  margin-left: 1em;
  text-align: center;
  font-size: small;
  border-bottom: none;
  display: inline;
}

input[id^=id_na_likert] {
  margin-left: 1em;
}

div.na_checkbox {
  background-color: white;
  width: 100%;
  display: block;
  text-align: center;
  padding-bottom: .5em;
}

textarea {
  height: 5em;
}

span.helptext {
  margin-top: .5em;
  display: block;
  font-size: small;
}

span.helptext:before {
  content: 'Help: '
}

ul[id^='id_likert_'] {
  /* margin-top: 1em; */
  margin: 0;
  padding: 1em;
  list-style: none;
  padding-left: 0;
  text-align: center;
  background-color: white;
}

ul[id^='id_likert_'] li {
  display: inline;
  margin-top: .5em;
}

ul[id^='id_likert_'] li label[for^='id_likert_'] {
  font-size: 0;
}

ul[id^='id_likert_'] li p {
  display: inline;
  font-size: small;
  font-weight: bold;
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
}

input[type=radio] {
  margin-left: .5em;
  margin-right: .5em;
}

input[type=radio][value=''] {
  display: none;
}

ul.errorlist {
  margin: 1px;
  padding: .5em;
  color: red;
  font-size: small;
  list-style: none;
  background-color: white;
}
