{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
    <meta charset="utf-8" />
    <link rel='stylesheet' href="{% static "main/style/base.css" %}" />
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script>
function addHeaderBefore(selector, text) {
  $(selector).before("<h2>" + text + "</h2>");
}

function markLikert(selector, start, end) {

  $(selector).prepend(
    "<li><p class='likert_range'>" + start + "</p></li>"
  ).append(
    "<li><p class='likert_range'>" + end + "</p></li>"
  );

  // Wrap all N/A checkboxes in a list item to be added to the choices. 
  var list = $(selector);
  var inputName = list.attr('id').replace(/id_likert_/, '');
  var checkbox = $('input[type=checkbox][id^=id_na_likert_' + inputName + ']');
  var label = $('label[for^=id_na_likert_' + inputName + ']');
  var listItem = $('<li></li>')
    .append([checkbox, label]);
  list.append(listItem);

  // Whenever an 'N/A' checkbox is selected, it should deselect anything that was selected
  // on the Likert scale.  Any choice on the Likert scale should de-select the N/A checkbox.
  checkbox.change(function() {
    if ($(this).is(':checked')) {
      var radioId = 'input[value=""][name=' + $(this).attr('id').replace(/id_na_/, '') + ']';
      $(radioId).prop('checked', true);
    }
  });
  $('input[type=radio][name=likert_' + inputName + ']').change(function() {
    if ($(this).val() !== '') {
      var checkboxId = 'input[type=checkbox][id=id_na_' + $(this).attr('name') + ']';
      $(checkboxId).prop('checked', false);
    }
  });

}

$(function() {
});
</script>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method=GET>
            <input type=submit name=logout value="Log out" />
        </form>
        <hr/>
        {% endif %}
        {% block content %}
        {% endblock content %}
    </body>
</html>
