{% extends "base.html" %}
{% block head %}
<title>Comparison</title>
<script>
$(function() {
  markLikert('ul#id_likert_community', "Package 1", "Package 2");
  markLikert('ul#id_likert_documentation', "Package 1", "Package 2");
});
</script>
{% endblock %}
{% block content %}
<h2>Compare the Packages</h2>
<form action="{% url 'precomparison' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="Next" />
    </div>
</form>
{% endblock content %}
