{% extends "base.html" %}

{% block head %}
<title>Introductory Task</title>
{% endblock %}

{% block content %}
<form action="{% url 'preinstructions' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <h2>Instructions</h2>
    <p>
    Pretend you have just found out about these two packages, and
    are choosing which one to use.
    <br><br>
    Now, use the web to answer these two questions:
    <span class='li'>Which package has a <b>better community</b> for clients of the package?</span>
    <span class='li'>Which package has <b>better documentation</b>?</span>
    <br>
    You will have a few minutes for each package.
    The researcher will give you a countdown timer for each one.
    Tell the researcher when you are ready to continue, and the press <b>Next</b>.
    </p>
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="Next" />
    </div>
</form>
{% endblock %}
