{% extends "base.html" %}

{% block head %}
<title>Introductory Task</title>
{% endblock %}

{% block content %}
<form action="{% url 'pretask' %}" method="post">
    {% csrf_token %}
    <h2>Go!</h2>
    <p><i>Reminder: </i>Use the web to answer the question,
    <b>Which package has better support and documentation?</b>
    </p>
    <p>
    The two packages you are comparing are {{ package1 }} and {{ package2 }}.
    Start with {{ package1 }}, and the researcher will let you know when to move on to {{ package2 }}.
    </p>
    <p>
    If you feel you have found all the information you want to find for a package, let the researcher know and you can move on.
    </p>
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="I'm done with this task" />
    </div>
</form>
{% endblock %}
