{% extends "base.html" %}
{% block head %}
<title>Answer - Question {{ question_index }}</title>
<script>
$(function() {
  markLikert('ul#id_likert_comparison_evidence', "{{ package1 }}", "{{ package2 }}");
  // markLikert('ul#id_likert_comparison_intuition', "{{ package1 }}", "{{ package2 }}");
  markLikert('ul#id_likert_confidence', "Not confident", "Confident");
});
</script>
{% endblock %}
{% block content %}
<form action="{% url 'question' question_index %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br/><br/><br/><br/><br/>
    <p>
    Continue to the next page when you are done answering the questions on this page.
    </p>
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="Next" />
    </div>
</form>
{% endblock %}
