{% extends "base.html" %}
{% block head %}
<title>Strategy - Question {{ question_index }}</title>
<script>
$(function() {
});
</script>
{% endblock %}
{% block content %}
<form action="{% url 'strategy' question_index %}" method="post">
    {% csrf_token %}
    <p>
    In the next task, you will use the web to answer this question:<br>
    <b>{{ concern|capfirst }}</b>
    </p>
    {{ form }}
    <br/><br/><br/><br/><br/>
    <p>
    Tell the researcher when you are ready to continue.
    Once they have started the timer, press <b>Next</b>.
    </p>
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="Next" />
    </div>
</form>
{% endblock %}
