{% extends "base.html" %}
{% block head %}
<title>Start task - Question {{ question_index }}</title>
{% endblock %}
{% block content %}
<form action="{% url 'task' question_index %}" method="post">
    {% csrf_token %}
    <h2>Task</h2>
    <p>
    Use the web to answer this question:<br>
    <b>{{ concern|capfirst }}</b>
    <br/>
    </p>
    <p>
    The researcher will let you know when your time is up.
    If you have found all the information you want to find before the time is up, you may click <b>I'm done with this task</b>.
    </p>
    <div>
        <input type="submit" name="previous" value="Previous" />
        <input type="submit" name="next" value="I'm done with this task" />
    </div>
</form>
{% endblock %}
