{% extends "base.html" %}

{% block head %}
<title>Welcome</title>
{% endblock %}

{% block content %}
<h2>Welcome to the study!</h2>
<form action="{% url 'welcome' %}" method="post">
    <p>
    In this study, we ask you to compare the quality of support and documentation for packages.
    We give you two packages to compare, related to some task you might use code to do.
    We ask you to assess support and documentation by anticipating which package will better suit your needs if you were to use it for the programming project we give you.
    <br><br>
    For each task that we give you, we ask you to do the following:
    <span class='li'>Plan how you will learn about support and documentation</span>
    <span class='li'>Use the web to learn about support and documentation</span>
    <span class='li'>Answer questions about what you learned</span>
    <br>
    The second step will be timed.
    </p>
    <p>
    When you are ready to proceed, please press the "Next" button.
    </p>
    {% csrf_token %}
    {{ form }}
    <div>
        <input type="submit" name="next" value="Next" />
    </div>
</form>
{% endblock %}
